<div class="widget">
  <div class="weatherIcon">
    <img
      class="cloud-thunder-back01"
      style="z-index: 1"
      src="../../assets/serv_img/svg/thunder/cloud-thunder-01.svg"
    />
    <img
      class="cloud-thunder-middle01"
      style="z-index: 2"
      src="../../assets/serv_img/svg/thunder/cloud-thunder-02.svg"
    />
    <img
      class="cloud-thunder-upper01"
      style="z-index: 3"
      src="../../assets/serv_img/svg/thunder/cloud-thunder-03.svg"
    />

    <i class="wi wi-day-cloudy"></i>
  </div>
  <div class="weatherInfo">
    <div class="temperature"><span>25&deg;</span></div>
    <div class="description">
      <div class="weatherCondition">CLOUDY</div>
      <div class="place">New York, New York</div>
    </div>
  </div>
  <div class="date">1st Jan</div>
</div>
