<div class="container">
  <div class="row align-items-center justify-content-center vh-100">
    <div class="col-md-5">
      <div class="text-center p-3">
        <img src="../../assets/serv_img/logo-alfauser.png" class="w-25" />
        <h4 class="pt-4">Отправлено письмо на ваш Email.</h4>
      </div>

      <div class="text-center pt-3">
        <div class="d-grid gap-2 mt-3">
          <button type="button" class="btn btn-success btn-lg" routerLink="/">
            Join
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
