<p>privacy-policy</p>
<div class="col-lg-9 mx-auto">
  <div class="t004">
    <div class="t-container">
      <div class="t-col t-col_8 t-prefix_2">
        <div field="text" class="t-text t-text_md" style="">
          <div style="font-size: 16px" data-customstyle="yes">
            <em style="font-family: Arial">Effective Date: February 15, 2022</em
            ><br /><br /><span style="font-family: Arial"
              >When you use Alfauser, you are trusting us with personal
              information. We are committed to keeping that trust, which is why
              our policy as a company is to take every step to ensure that
              individual user's data and privacy rights are protected and to
              provide transparency about our data practices. </span
            ><br /><span style="font-family: Arial"
              >The primary purpose of our Privacy Policy is to provide a clear
              understanding of what data we collect, how it is used and shared,
              and how you can control it.</span
            ><br /><br /><strong style="font-family: Arial">Introduction</strong
            ><br /><br /><span style="font-family: Arial"
              >This Privacy Policy explains how Alfauser Inc. (“Company” or “we”
              or “us”) collects, stores, uses, transfers and shares Personal
              Data from our users (“you”) through our software, websites, mobile
              applications and chatbots (“App”) documentation, and related
              services (together, the “Services”).</span
            ><br /><span style="font-family: Arial"
              >We may need to make changes to this Privacy Policy at any time.
              If we make any material changes to how we collect your personal
              data, or how we use or share it, we will post or provide
              appropriate notice in accordance with applicable law.</span
            ><br /><span style="font-family: Arial"
              >In order to ensure fairness of the processing, we encourage you
              to review the content of this Privacy Policy regularly. Your
              continued use of the App after the effective date of an updated
              version of the Privacy Policy will indicate your acceptance of the
              Privacy Policy as modified. If you do not accept the terms of the
              Privacy Policy, we ask that you do not use the App.</span
            ><br /><br /><strong style="font-family: Arial"
              >Personal Data and information we collect from you</strong
            ><br /><br /><strong style="font-family: Arial"
              >Personal Data you provide us directly.</strong
            ><br /><strong style="font-family: Arial"
              >General Information.</strong
            ><span style="font-family: Arial">
              When you sign up to use the App, we may collect Personal Data
              about you such as name, email address, gender; date of birth;
              password or passcode; place of residence and associated location
              information; time zone. We may also ask for a referral or access
              code, which we may use to track your participation in special
              programs, described in more detail below.</span
            ><br /><span style="font-family: Arial"
              >On certain versions of the Services, you may be able to skip
              account creation and create an account locally on your device:
              note that without an account, you will not be able to recover your
              data or log in on a different device.</span
            ><br /><strong style="font-family: Arial">Well-being. </strong
            ><span style="font-family: Arial"
              >When you use the Service, we may periodically ask you
              wellness-related information such as your thoughts, feelings or
              emotions, mood, major events / changes in life, your goals and
              your energy levels. Processing of your response is based on our
              agreement and solely to provide you evidence-based tools and
              techniques to manage emotions and encourage mental well-being in a
              self-help context. We use your anonymized and minimal
              wellness-related information for population-level research and
              statistical purposes as per our Legitimate Interest.</span
            ><br /><br /><strong style="font-family: Arial"
              >Personal Data we may collect automatically</strong
            ><br /><br /><span style="font-family: Arial"
              >When you access or use the Services, we may automatically collect
              the following information:</span
            ><br /><br /><strong style="font-family: Arial"
              >Device Information:</strong
            ><br />
            <ul>
              <li><span style="font-family: Arial">Hardware model;</span></li>
              <li>
                <span style="font-family: Arial"
                  >Information about the operating system and its version;</span
                >
              </li>
              <li>
                <span style="font-family: Arial"
                  >Unique device identifiers (e.g. IDFA);</span
                >
              </li>
              <li>
                <span style="font-family: Arial"
                  >Mobile network information;</span
                >
              </li>
              <li>
                <span style="font-family: Arial"
                  >Device storage information.</span
                >
              </li>
            </ul>
            <strong style="font-family: Arial">Location Information:</strong
            ><br />
            <ul>
              <li><span style="font-family: Arial">IP address;</span></li>
              <li><span style="font-family: Arial">Time zone;</span></li>
              <li>
                <span style="font-family: Arial"
                  >Information about your mobile service provider.</span
                >
              </li>
            </ul>
            <strong style="font-family: Arial"
              >App usage data, including, among others:</strong
            ><br />
            <ul>
              <li><span style="font-family: Arial">Frequency of use;</span></li>
              <li>
                <span style="font-family: Arial"
                  >Areas and features of our App you visit;</span
                >
              </li>
              <li>
                <span style="font-family: Arial"
                  >Your use patterns generally;</span
                >
              </li>
              <li>
                <span style="font-family: Arial"
                  >Engagement with particular features.</span
                >
              </li>
            </ul>
            <strong style="font-family: Arial"> Personal information:</strong
            ><br />
            <ul>
              <li><span style="font-family: Arial">Telegram user ID</span></li>
              <li><span style="font-family: Arial">Facebook PSID</span></li>
              <li><span style="font-family: Arial">Email</span></li>
              <li>
                <span style="font-family: Arial">First and last name</span>
              </li>
              <li><span style="font-family: Arial">Birthday date</span></li>
              <li><span style="font-family: Arial">Gender</span></li>
            </ul>
            <span style="font-family: Arial"
              >To collect this information, we may also send cookies to your
              mobile device or computer or engage other tracking technologies.
              See more in our Cookie Policy at </span
            ><a
              href="https://alfauser.com/cookie-policy"
              style="font-family: Arial"
              >alfauser.com/cookie-policy</a
            ><span style="font-family: Arial">.</span><br /><span
              style="font-family: Arial"
              >Data from external sources. We may use third-party tools like
              Firebase, AppsFlyer and Facebok SDK, etc. that provide us with
              some of your attribution data that we further utilize to customize
              and personalize your App experience. We may also use such data for
              statistical purposes and analytics.</span
            ><br /><br /><strong style="font-family: Arial"
              >How we use your Personal Data</strong
            ><br /><br /><span style="font-family: Arial"
              >As any compliant organization we will not collect and use your
              Personal Data without letting you know or having any reasons for
              that whatsoever. So, for any purpose of processing your Personal
              data we need to have some valid ground, or so-called “legal
              basis”. </span
            ><br /><span style="font-family: Arial"
              >Depending on a case, we will process your Personal data based on
              the following legal basis:</span
            ><br />
            <ul>
              <li>
                <strong style="font-family: Arial">Your consent.</strong
                ><span style="font-family: Arial">
                  Your permission to process the Personal Data that you provide
                  to us on the registration screen or at any other appropriate
                  moment if necessary;
                </span>
              </li>
              <li>
                <strong style="font-family: Arial"
                  >Your contractual relations with us.</strong
                ><span style="font-family: Arial">
                  We may need to process some Personal Data for making the App
                  and its services available for access, installation and
                  further use;</span
                >
              </li>
              <li>
                <strong style="font-family: Arial">Legitimate interest.</strong
                ><span style="font-family: Arial">
                  We may process some of your personal data to pursue commercial
                  interests and wider societal benefits;</span
                >
              </li>
              <li>
                <strong style="font-family: Arial">Legal obligation.</strong
                ><span style="font-family: Arial">
                  We may be obligated to process some of your Personal Data to
                  comply with applicable laws and regulations.
                </span>
              </li>
            </ul>
            <span style="font-family: Arial"
              >Here is the description of the main type of processing activities
              we conduct with your Personal data and related legal basis for
              that. </span
            ><br /><br /><br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
