<!-- <div
  class="container-fluid"
  style="min-height: 100vh; background-color: #efefef; padding: 50px 11px"
>
  <form
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()"
    class="form facebook-style"
  >
    <h2 style="width: fit-content; margin: 0 auto 50px auto">Welcome back</h2>
    <div>
      <label for="email">Email</label> <br />
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="form-control"
      />
    </div>
    <div>
      <label for="password">Password</label> <br />
      <input
        autocomplete="off"
        formControlName="password"
        type="password"
        placeholder="Password"
        class="form-control"
      />
    </div>
    <div *ngIf="firebaseErrorMessage != ''" class="error-style">
      <span>{{ firebaseErrorMessage }}</span>
    </div>
    <div>
      <button class="btn btn-primary" style="width: 100%">Continue</button>
    </div>
    <div>
      <a id="forgotPSW-link" routerLink="/forgot-password">Forgot password?</a>
    </div>
    <hr />
    <br />
    <div class="noAccount">
      <p style="text-align: center">OR</p>
      <button class="btn btn-success" routerLink="/signup">
        Create new account
      </button>
    </div>
  </form>
</div> -->
<div class="container">
  <div class="row align-items-center justify-content-center vh-100">
    <!-- <div class="col-md-7">
      <img src="../../assets/serv_img/logo-alfauser.png" class="w-50" />
      <h3 class="pt-3">
        become your own therapist in everyday situations and a leader in your
        community
      </h3>
      <figure>
        <blockquote class="blockquote">
          <p>Fortunate, who was able to know the causes of things</p>
          <figcaption class="blockquote-footer">Virgil</figcaption>
        </blockquote>
      </figure>
    </div> -->
    <div class="col-md-5">
      <div class="a-card">
        <form
          [formGroup]="signupForm"
          (ngSubmit)="onSubmit()"
          class="form"
          class="form"
        >
          <h2 style="width: fit-content; margin: 0 auto 50px auto">Sign Up</h2>
          <!-- Full name -->
          <!-- <div class="form-group mb-3">
            <label for="fullName">Full name</label> <br />
            <input
              formControlName="fullName"
              type="text"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  signupForm.get('fullName').touched &&
                  signupForm.get('fullName').valid,
                'is-invalid':
                  signupForm.get('fullName').touched &&
                  signupForm.get('fullName').invalid
              }"
            />

            <div
              *ngIf="
                signupForm.get('fullName').invalid &&
                signupForm.get('fullName').touched
              "
            >
              <div class="invalid-feedback d-block" style="color: #d43f3a">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Full name is wrong — please correct (English alphabet)
              </div>
            </div>

          </div> -->
          <!-- Error -->
          <div *ngIf="firebaseErrorMessage" class="valid-feedback d-block text-danger">
            <p>
              <i
                class="fa fa-exclamation-triangle text-danger"
                aria-hidden="true"
              ></i>
              {{firebaseErrorMessage}}
            </p>
          </div>
          <!-- email -->
          <div class="form-group mb-3">
            <label for="email">Email</label> <br />
            <input
              formControlName="email"
              type="email"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  signupForm.get('email').touched &&
                  signupForm.get('email').valid,
                'is-invalid':
                  signupForm.get('email').touched &&
                  signupForm.get('email').invalid
              }"
            />
            <!-- <pre>{{ signupForm.get("email").valid | json }}</pre> -->
            <div
              *ngIf="
                signupForm.get('email').invalid &&
                signupForm.get('email').touched
              "
            >
              <div class="invalid-feedback d-block">
                <p>
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  Email wrong please correct
                </p>
              </div>
            </div>
            <div
              *ngIf="
                signupForm.get('email').valid && signupForm.get('email').touched
              "
            >
              <div class="valid-feedback d-block" style="color: green">
                <p>
                  <i
                    class="fa fa-exclamation-triangle text-warning"
                    aria-hidden="true"
                  ></i>
                  We will email you a confirmation
                </p>
              </div>
            </div>
          </div>
          <!-- Password -->
          <div class="form-group mb-3">
            <label for="password">Password</label> <br />
            <input
              formControlName="password"
              type="password"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  signupForm.get('password').touched &&
                  signupForm.get('password').valid,
                'is-invalid':
                  signupForm.get('password').touched &&
                  signupForm.get('password').invalid
              }"
            />
            <!-- <pre>{{ signupForm.get("password").valid | json }}</pre> -->
            <div
              *ngIf="
                signupForm.get('password').invalid &&
                signupForm.get('password').touched
              "
            >
              <div class="invalid-feedback d-block" style="color: #d43f3a">
                <p *ngIf="signupForm.get('password').errors?.['required']">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  The field must not be empty
                </p>

                <small *ngIf="signupForm.get('password').errors?.['minlength']">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  Password must be at least
                  {{ signupForm.get("password").errors?.['minlength']?.['requiredLength'] }}
                  characters. Сurrent number of characters
                  {{ signupForm.get("password").errors?.['minlength']?.['actualLength'] }}
                </small>
              </div>
            </div>
          </div>
          <!-- end password -->
          <div class="form-check mb-3">
            <input
              type="checkbox"
              formControlName="acceptTerms"
              id="acceptTerms"
              class="form-check-input"
            />

            <!-- <pre>{{ signupForm.get("acceptTerms").valid | json }}</pre> -->
            <label for="acceptTerms" class="form-check-label"
              >Accept <a routerLink="/terms">Terms</a> &
              <a routerLink="/privacy">Conditions</a></label
            >

            <!-- <pre>{{ signupForm.get("acceptTerms").errors | json }}</pre> -->
          </div>
          <div>
            <button
              class="btn btn-primary"
              [ngClass]="{
                disabled: signupForm.invalid
              }"
              style="width: 100%"
            >
              Create Account
            </button>
          </div>
          <!-- {{ signupForm.status }} -->
          <div class="noAccount" style="margin-top: 50px; text-align: center">
            Already have an account? <a routerLink="/login">Sign in</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
