<div class="container">
  <div class="row align-items-center justify-content-center vh-100">
    <div class="col-md-5">
      <div class="a-card">
        <div class="text-center">
          <img src="../../assets/serv_img/logo-alfauser.png" class="w-25" />
          <p class="pt-1">
            Enter your Address e-mail so we can send you a reset password
            e-mail.
          </p>
        </div>
        <form [formGroup]="forgot_passForm" (ngSubmit)="onSubmit()">
          <div class="form-group mb-3">
            <label for="email">Email</label> <br />
            <input
              formControlName="email"
              type="email"
              class="form-control"
              [ngClass]="{
                'is-valid':
                  forgot_passForm.get('email').touched &&
                  forgot_passForm.get('email').valid,
                'is-invalid':
                  forgot_passForm.get('email').touched &&
                  forgot_passForm.get('email').invalid
              }"
            />
            <!-- <pre>{{ signupForm.get("email").valid | json }}</pre> -->
            <div
              *ngIf="
                forgot_passForm.get('email').invalid &&
                forgot_passForm.get('email').touched
              "
            >
              <div class="invalid-feedback d-block">
                <p>
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  Email wrong please correct
                </p>
              </div>
            </div>
            <div
              *ngIf="
                forgot_passForm.get('email').valid &&
                forgot_passForm.get('email').touched
              "
            >
              <!-- <div class="valid-feedback d-block" style="color: green">
                <p>
                  <i
                    class="fa fa-exclamation-triangle text-warning"
                    aria-hidden="true"
                  ></i>
                  We will email you a confirmation
                </p>
              </div> -->
            </div>
          </div>

          <div class="text-center pt-3">
            <div class="d-grid gap-2 mt-3">
              <button
                class="btn btn-primary"
                [ngClass]="{
                  disabled: forgot_passForm.invalid
                }"
                style="width: 100%"
              >
                Reset password
              </button>
            </div>

            <!-- <a routerLink="/forgot-password" class="">Forgotten password?!!!</a> -->
            <hr />
          </div>
          <div class="d-grid gap-2">
            <button
              type="button"
              class="btn btn-outline-primary btn-lg"
              routerLink="/"
            >
              Go back
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
