.one {
    color: #3B5998;
}

.two {
    color: #8b9dc3;
}

.tre {
    color: #dfe3ee;
}

.four {
    color: #f7f7f7;
}

.five {
    color: #ffffff;
}

.red {
    color: #d60515;
}

.body {
    color: #3C4858;
}