<div class="col-lg-9 mx-auto">
  <div class="t-container">
    <div class="t-col t-col_8 t-prefix_2">
      <div field="text" class="t-text t-text_md" style="">
        <div style="font-size: 16px" data-customstyle="yes">
          <p style="text-align: center">
            <strong style="font-family: Arial; font-size: 18px"
              >Terms of Use</strong
            >
          </p>
          <br /><em style="font-family: Arial"
            >Effective as of October 11, 2021</em
          ><br /><br /><span style="font-family: Arial"
            >Welcome to Moodmate! These Terms of Use (this “Agreement”) is a
            legal agreement between you (“you”) and Alfauser Inc., a Delaware
            corporation (“Company,” “we” or “us”) for use of the services
            Moodmate makes available through Alfauser websites; Alfauser mobile
            applications, Alfauser chatbots which may be accessed through or
            downloaded from any application store or distribution platform (each
            such distribution platform and “Services Platform Provider”); and
            any other software or services offered by Alfauser in connection
            with any of those (collectively the “Services”).</span
          ><br /><br /><strong style="font-family: Arial"
            >1. Acceptance of terms</strong
          ><br /><br /><span style="font-family: Arial"
            >Please read this Agreement carefully. By creating an account or
            accessing or using the Services, you acknowledge that you accept and
            agree to be bound by the terms of this Agreement. IF YOU DO NOT
            AGREE TO THESE TERMS, YOU MAY NOT ACCESS OR USE THE SERVICES.</span
          ><br /><span style="font-family: Arial"
            >You agree your purchases and/or use of the Services are not
            contingent on the delivery of any future functionality or features
            or dependent on any oral or written public comments made by Alfauser
            or any of its affiliates regarding future functionality or
            features.</span
          ><br /><span style="font-family: Arial"
            >Both you and Alfauser acknowledge that the Terms are concluded
            between you and Alfauser only, and not with Apple and Google, and
            that Apple and Google are not responsible for the application or the
            Content.</span
          ><br /><span style="font-family: Arial"
            >We are always trying to improve the Services, so they may change
            over time. We may suspend or discontinue any part of the Services,
            or we may introduce new features or impose limits on certain
            features or restrict access to parts or all of the Services. We will
            try to give you notice when we make a material change to the
            Services that would adversely affect you, but this isn’t always
            practical. Similarly, we reserve the right to remove any Content
            from the Services at any time, for any reason (including, but not
            limited to, if someone alleges you contributed that Content in
            violation of these Terms), in our sole discretion, and without
            notice. We reserve the right to change the Terms at any time, but if
            we do, we will bring it to your attention by placing a notice on the
            Alfauser website, and/or by sending you an email and/or by some
            other means.</span
          ><br /><span style="font-family: Arial"
            >This Agreement is not concluded with Apple, Inc., any of its
            subsidiaries, Google, Inc., any of its subsidiaries, or any other
            entity as may apply.</span
          ><br /><br /><strong style="font-family: Arial"
            >2. Medical services disclaimer</strong
          ><br /><br /><span style="font-family: Arial"
            >THE COMPANY IS NOT A LICENSED MEDICAL CARE PROVIDER AND THE
            Services IS NOT INTENDED TO REPLACE PROFESSIONAL MEDICAL ADVICE OR
            DIAGNOSE, TREAT OR MANAGE ANY ILLNESS, MEDICAL OR MENTAL HEALTH
            CONDITION. PLEASE CONSULT WITH A QUALIFIED HEALTHCARE PROVIDER
            BEFORE MAKING ANY DECISIONS OR TAKING ANY ACTIONS THAT MAY AFFECT
            YOUR HEALTH AND SAFETY OR THAT OF YOUR FAMILY OR FETUS. NEVER
            DISREGARD PROFESSIONAL MEDICAL ADVICE OR DELAY IN SEEKING IT BECAUSE
            OF SOMETHING YOU HAVE READ IN CONNECTION WITH THE SERVICES. </span
          ><br /><span style="font-family: Arial"
            >USE OF THE SERVICES IS NOT FOR EMERGENCIES. IF YOU THINK YOU HAVE A
            MEDICAL OR MENTAL HEALTH EMERGENCY, CALL 911 OR GO TO THE NEAREST
            OPEN CLINIC OR EMERGENCY ROOM.</span
          ><br /><span style="font-family: Arial"
            >IF YOU ARE CONSIDERING OR COMMITTING SUICIDE OR FEEL THAT YOU ARE A
            DANGER TO YOURSELF OR TO OTHERS, YOU MUST DISCONTINUE USE OF THE
            SERVICES IMMEDIATELY, CALL 911 OR NOTIFY appropriate POLICE OR
            EMERGENCY MEDICAL PERSONNEL.</span
          ><br /><span style="font-family: Arial"
            >IF YOU HAVE EXPERIENCED OR HAVE KNOWLEDGE OF CHILD OR DEPENDENT
            ADULT OR ELDER ABUSE PLEASE CONTACT YOUR LOCAL PROTECTIVE SERVICES
            AGENCY. </span
          ><br /><br /><strong style="font-family: Arial"
            >3. Registration and eligibility</strong
          ><br /><br /><span style="font-family: Arial"
            >To use the Services, you may be required to create or update an
            account (“Account”) and will be asked to provide certain personal
            information, which may include your name, gender, birth date, and
            e-mail address. This information will be held and used in accordance
            with our privacy policy, which can be found at </span
          ><a
            href="https://Alfauser"
            rel="noopener noreferrer"
            style="font-family: Arial"
            >Alfauser</a
          ><span style="font-family: Arial">
            (“Privacy Policy”). You agree that you will supply accurate and
            complete information to the Company, and that you will update that
            information promptly after it changes.</span
          ><br /><span style="font-family: Arial"
            >However, users should note that when they access Alfauser via the
            Facebook Messenger platform, they are also subject to Facebook’s
            privacy policy, which can be found at
            https://www.facebook.com/privacy/explanation.</span
          ><br /><span style="font-family: Arial"
            >To create an Account and access the Services, you must be at least
            13 years old (16 years old in EU) and not barred from using the
            Services under applicable law.</span
          ><br /><span style="font-family: Arial"
            >If you are under 18, your parent or guardian must review and accept
            the terms of this Agreement, and by using the Services, you confirm
            that your parent or guardian has so reviewed and accepted this
            Agreement. We reserve the right to limit the availability to users
            under the age of 18 of certain content in the Services, in our sole
            discretion.</span
          ><br /><br /><strong style="font-family: Arial"
            >4. Your use of the Services</strong
          ><br /><br /><span style="font-family: Arial"
            >Alfauser seeks to protect users by providing services only to those
            who are likely to benefit from the Services provided. If your needs
            appear beyond the scope of guided self-help you will be advised to
            seek alternative services which can be found through the services of
            a mental health professional, medical professional, or support
            organization. If you think you may have a medical emergency, call
            your doctor or 911 immediately. As a condition of using the
            Services, you agree not to use the Services for any purpose that is
            prohibited by this Agreement. You are responsible for all of your
            activity in connection with the Services and you shall abide by all
            local, state, national, and international laws and regulations and
            any applicable regulatory codes. You agree that if you take any of
            the following actions, you will be materially breaching this
            Agreement, and you agree that you SHALL NOT:</span
          ><br /><span style="font-family: Arial"
            >а. resell, rent, lease, loan, sublicense, distribute, or otherwise
            transfer rights to the Services;</span
          ><br /><span style="font-family: Arial"
            >b. modify, reverse engineer, decompile or disassemble the
            Services;</span
          ><br /><span style="font-family: Arial"
            >c. copy, adapt, alter, modify, translate, or create derivative
            works of the Services without the written authorization of the
            Company;</span
          ><br /><span style="font-family: Arial"
            >d. permit other individuals to use the Services, including but not
            limited to shared use via a network connection, except under the
            terms of this Agreement;</span
          ><br /><span style="font-family: Arial"
            >e. circumvent or disable any technological features or measures in
            the Services for protection of intellectual property rights;</span
          ><br /><span style="font-family: Arial"
            >f. use the Services in an attempt to, or in conjunction with, any
            device, program, or service designed to circumvent technological
            measures employed to control access to, or the rights in, a content
            file or other work protected by the copyright laws of any
            jurisdiction;</span
          ><br /><span style="font-family: Arial"
            >g. use or access the Services to compile data in a manner that is
            used or usable by a competitive product or service;</span
          ><br /><span style="font-family: Arial"
            >h. use your Account to advertise, solicit, or transmit any
            commercial advertisements, including chain letters, junk e-mail or
            repetitive messages to anyone;</span
          ><br /><span style="font-family: Arial"
            >i. use your Account to engage in any illegal conduct;</span
          ><br /><span style="font-family: Arial"
            >j. upload to transmit any communications that infringe or violate
            the rights of any party;</span
          ><br /><span style="font-family: Arial"
            >k. upload media of any kind that contain expressions of hate,
            abuse, offensive images or conduct, obscenity, pornography, sexually
            explicit or any material that could give rise to any civil or
            criminal liability under applicable law or regulations or that
            otherwise may be in conflict with this Agreement and the Company’s
            Privacy Policy; or</span
          ><br /><span style="font-family: Arial"
            >l. upload any material that contains software viruses or any other
            computer code, files or programs designed to interrupt, destroy or
            limit the functionality of any computer software or this
            website.</span
          ><br /><span style="font-family: Arial"
            >Any such forbidden use shall immediately terminate your license to
            use the Services.</span
          ><br /><br /><strong style="font-family: Arial"
            >5. Licences granted to the Services</strong
          ><br /><br /><span style="font-family: Arial"
            >Anything you post, upload, share, store, or otherwise provide
            through the Services is your “User Submission.” Some User
            Submissions may be viewable by other users. In order to display your
            User Submissions on the Services, and to allow other users to view
            them (where applicable), you grant us certain rights in those User
            Submissions. Please note that all of the following licenses are
            subject to our Privacy Policy to the extent they relate to User
            Submissions that are also your personally-identifiable
            information.</span
          ><br /><span style="font-family: Arial"
            >For all User Submissions, you hereby grant Alfauser a license to
            translate, modify (for technical purposes, for example making sure
            your content is viewable on an iPhone as well as a computer) and
            reproduce and otherwise act with respect to such User Submissions,
            in each case to enable us to operate the Services, as described in
            more detail below. This is a license only – your ownership in User
            Submissions is not affected.</span
          ><br /><span style="font-family: Arial"
            >If you submit a User Submission in your own personal Moodmate
            account, in a manner that is not viewable by any other user except
            you (a “Personal User Submission”), you grant Alfauser the license
            above, provided that the license to display, perform, and distribute
            your Personal User Submission will be limited to the sole purpose of
            making that Personal User Submission accessible to you and providing
            the Services necessary to do so.</span
          ><br /><span style="font-family: Arial"
            >You agree that the licenses you grant are royalty-free, perpetual,
            sublicensable, irrevocable, and worldwide; provided that when you
            delete your Alfauser account, we will stop displaying your User
            Submissions to other users (if applicable), but you understand and
            agree that it may not be possible to completely delete that content
            from Moodmate’s records, and that your User Submissions may remain
            viewable elsewhere to the extent that they were copied or stored by
            other users who had access to such User Submissions.</span
          ><br /><span style="font-family: Arial"
            >Finally, you understand and agree that Moodmate, in performing the
            required technical steps to provide the Services to our users
            (including you), may need to make changes to your User Submissions
            to conform and adapt those User Submissions to the technical
            requirements of connection networks, devices, services, or media,
            and any of the foregoing licenses include the rights to do so.</span
          ><br /><br /><strong style="font-family: Arial"
            >6. Children’s privacy and age restrictions</strong
          ><br /><br /><span style="font-family: Arial"
            >We are committed to protecting the privacy of children.</span
          ><br /><span style="font-family: Arial"
            >You should be aware that these Services are not intended or
            designed to attract children under the age of 13. We do not collect
            personal data from any person we actually know is a child under the
            age of 13.</span
          ><br /><span style="font-family: Arial"
            >If you are a European Union resident, you shall be at least 16
            years old in order to use the Services. To the extent prohibited by
            applicable law, we do not allow the use of the Services by European
            Union residents younger than 16 years old. </span
          ><br /><span style="font-family: Arial"
            >You must be at least 18 years old to use some features of the
            Services (e.g., some themes or content). </span
          ><br /><span style="font-family: Arial"
            >If you are aware of anyone that does not comply with these
            limitations, please contact us at team@alfauser.com, and we will
            take steps to delete or terminate her account.</span
          ><br /><br /><strong style="font-family: Arial"
            >7. Export and economic sanctions control</strong
          ><br /><span style="font-family: Arial">&#xFEFF;</span><br /><span
            style="font-family: Arial"
            >The software that supports the Services may be subject to U.S.
            export and reexport control laws and regulations, including the
            Export Administration Regulations (“EAR”) maintained by the U.S.
            Department of Commerce, trade and economic sanctions maintained by
            the Treasury Department’s Office of Foreign Assets Control (“OFAC”),
            and the International Traffic in Arms Regulations (“ITAR”)
            maintained by the Department of State. You represent and warrant
            that you are (1) not located in any country or region that is
            subject to a U.S. government embargo, and (2) are not a denied party
            as specified in the regulations listed above.</span
          ><br /><span style="font-family: Arial"
            >You agree to comply with all U.S. and foreign export laws and
            regulations to ensure that neither the Services nor any technical
            data related thereto nor any direct product thereof is exported or
            re-exported directly or indirectly in violation of, or used for any
            purposes prohibited by, such laws and regulations.</span
          ><br /><br /><strong style="font-family: Arial"
            >8. Limited License to the Services</strong
          ><br /><br /><span style="font-family: Arial"
            >We grant you a personal, worldwide, revocable, non-transferable and
            non-exclusive license to access and use the Services for personal
            and non-commercial purposes in accordance with the terms of this
            Agreement.</span
          ><br /><span style="font-family: Arial"
            >All rights, title, and interest in and to the Services not
            expressly granted in this Agreement are reserved by the Company. If
            you wish to use the Company’s software, title, trade name,
            trademark, service mark, logo, domain name and/or any other
            identification with notable brand features or other content owned by
            the Company, you must obtain written permission from the Company.
            Permission requests may be sent to team@alfauser.me.</span
          ><br /><span style="font-family: Arial"
            >To avoid any doubt, the Company owns all the text, images, photos,
            audio, video, location data, and all other forms of data or
            communication that the Company creates and makes available in
            connection with the Services, including but not limited to visual
            interfaces, interactive features, graphics, design, compilation of
            User Content, and the compilation of aggregate user review ratings
            and all other elements and components of the Services, excluding
            User Content (as defined below). Except as expressly and
            unambiguously provided herein, we do not grant you any express or
            implied rights, and all rights in and to the Services and the
            Company’s Content are retained by us.</span
          ><br /><span style="font-family: Arial"
            >Alfauser may provide links to videos or articles that were not
            created by us and for which we assume no ownership. Alfauser does
            not take any responsibility for the accuracy of information or
            content therein, nor for any harm caused by that content.</span
          ><br /><span style="font-family: Arial"
            >The Services may allow you to copy or download certain Content;
            please remember that just because this functionality exists, doesn’t
            mean that all the restrictions above don’t apply — they do!</span
          ><br /><br /><strong style="font-family: Arial"
            >9. License to User Content</strong
          ><br /><br /><span style="font-family: Arial"
            >The Services enables you to input personal notes, share your
            stories, post or upload content, submit content and log certain
            information into the Services (“User Content”). You retain all
            rights to such User Content that you post, share, or log in the
            Services.</span
          ><br /><span style="font-family: Arial"
            >By providing your User Content to the Services, you (a) grant the
            Company a non-exclusive, transferable, sublicensable, worldwide,
            royalty-free license to use, copy, exploit, modify, publicly
            display, publicly perform, create derivative works from, incorporate
            it into other works, change, reformat, and distribute your User
            Content in connection with providing and operating the Services and
            related services and/or for the Company’s promotional purposes (for
            example, by displaying on our website, within the Services, in
            social media, on any website or platform in the internet as we may
            deem appropriate), subject to the Privacy Policy; and (b) you agree
            to indemnify the Company and its affiliates, directors, officers,
            and employees and hold them harmless from any and all claims and
            expenses, including attorneys’ fees, arising from the media and/or
            your failure to company with the terms described in this
            Agreement.</span
          ><br /><span style="font-family: Arial"
            >The Company reserves the right to review all User Content prior to
            submission to the Services and to remove any media for any reason,
            at any time, without prior notice, at our sole discretion.</span
          ><br /><br /><strong style="font-family: Arial"
            >10. Use at your own risk</strong
          ><br /><br /><span style="font-family: Arial"
            >Our goal is to help make certain mental health-related information
            more readily available and useful to you. However, the Services
            cannot and does not guarantee mental health-related improvements or
            outcomes. Your use of the Services and any information, predictions,
            or suggestions provided in the Services are at your sole risk. We
            make no representation or warranty of any kind as to the accuracy of
            data, information, estimates, and predictions that we may provide to
            you through the Services and you agree and understand that the
            Services is not intended to match or serve the same purpose as a
            medical or scientific device.</span
          ><br /><br /><strong style="font-family: Arial"
            >11. Subscriptions and in-apps</strong
          ><br /><br /><span style="font-family: Arial"
            >The Services offers the subscriptions and in-apps that grants you
            access to additional features. Some of our subscriptions include a
            free trial period, where you can experience the Services at no cost. </span
          ><br /><span style="font-family: Arial"
            >We offer weekly, monthly and annual subscription options and one
            time payment in-apps. Payment will be charged to your credit/debit
            card through your Apple Account, Google Play or Stripe after you
            choose one of our subscriptions or in-apps and confirm your
            purchase. Paid subscriptions automatically renew unless auto-renew
            is turned off, until cancelled in your account or chatbot settings. </span
          ><br /><span style="font-family: Arial"
            >Topics. We offer subscription options and in-apps for Topics.
            Payment will be charged to your credit/debit card through Apple
            Account, Google Play or Stripe after you choose one of our
            subscription options or in-apps and confirm your purchase. You
            expressly understand and agree that all payments and monetary
            transactions are handled by Apple Account, Google Play or Stripe.
            You must not process stolen credit cards, or unauthorized credit
            cards through Apple Account, Google Play or Stripe and/or your
            Account. Paid subscriptions automatically renew, unless auto-renew
            is turned off, until cancelled by contacting our support team
            team@alfauser.me. We will notify you if the price of subscription
            increases and, if required, seek your consent to continue. To issue
            a refund or on any other issues with payments in connection with
            Topics, please contact our support team team@alfauser.me.</span
          ><br /><br /><strong style="font-family: Arial">12. Passwords</strong
          ><br /><br /><span style="font-family: Arial"
            >You are responsible for taking all reasonable steps to ensure that
            no unauthorized person shall have access to your Services passwords
            or account. It is your sole responsibility to (1) control the
            dissemination and use of sign-in name, screen name and passwords;
            (2) authorize, monitory, and control access to and use of your
            Services account and password; (3) promptly inform the Company if
            you believe your account or password has been compromised or if
            there is any other reason you need to deactivate a password. Send us
            an email at team@alfauser.me. You grant the Company and all other
            persons or entities involved in the operation of the Services the
            right to transmit, monitor, retrieve, store, and use your
            information in connection with the operation of the Services. The
            Company cannot and does not assume any responsibility or liability
            for any information you submit, or your or third parties’ use or
            misuse of information transmitted or received using the
            Services.</span
          ><br /><br /><strong style="font-family: Arial"
            >13. Warranty disclaimer</strong
          ><br /><br /><span style="font-family: Arial"
            >The Company controls and operates the Services from various
            locations and makes no representation that the Services is
            appropriate or available for use in all locations. The Services or
            certain features of it may not be available in your location or may
            vary across locations.</span
          ><br /><span style="font-family: Arial"
            >THE SERVICES IS PROVIDED “AS IS”, “AS AVAILABLE” AND IS PROVIDED
            WITHOUT ANY REPRESENTATIONS OR WARRANTIES OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
            TITLE, NON-INFRINGEMENT, MERCHANTABILITY, AND FITNESS FOR A
            PARTICULAR PURPOSE, AND ANY WARRANTIES IMPLIED BY ANY COURSE OF
            PERFORMANCE OR USAGE OF TRADE, ALL OF WHICH ARE EXPRESSLY
            DISCLAIMED, SAVE TO THE EXTENT REQUIRED BY LAW. THE COMPANY, AND ITS
            DIRECTORS, EMPLOYEES, AGENTS, REPRESENTATIVES, SUPPLIERS, PARTNERS
            AND CONTENT PROVIDERS DO NOT WARRANT THAT: (A) THE SERVICES WILL BE
            SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; (B) ANY
            DEFECTS OR ERRORS WILL BE CORRECTED; (C) ANY CONTENT OR SOFTWARE
            AVAILABLE AT OR THROUGH THE SERVICES IS FREE OF VIRUSES OR OTHER
            HARMFUL COMPONENTS; (D) THE RESULTS OF USING THE SERVICES WILL MEET
            YOUR REQUIREMENTS. YOUR USE OF THE SERVICES IS SOLELY AT YOUR OWN
            RISK; OR, (E) THE ACCURACY, RELIABILITY, OR COMPLETENESS OF THE
            CONTENT, TEXT, IMAGES, SOFTWARE, GRAPHICS, OR COMMUNICATIONS
            PROVIDED BY THIRD PARTIES ON OR THROUGH THE SERVICES. SOME STATES /
            COUNTRIES DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES, SO THE
            ABOVE LIMITATIONS MAY NOT apply TO YOU.</span
          ><br /><br /><strong style="font-family: Arial"
            >14. Limitation of liability</strong
          ><br /><br /><span style="font-family: Arial"
            >IN NO EVENT SHALL THE COMPANY, ITS OFFICERS, DIRECTORS, AGENTS,
            AFFILIATES, EMPLOYEES, ADVERTISERS, OR DATA PROVIDERS BE LIABLE FOR
            ANY INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES
            (INCLUDING BUT NOT LIMITED TO LOSS OF USE, LOSS OF PROFITS, OR LOSS
            OF DATA) WHETHER IN AN ACTION IN CONTRACT, TORT (INCLUDING BUT NOT
            LIMITED TO NEGLIGENCE), EQUITY OR OTHERWISE, ARISING OUT OF OR IN
            ANY WAY CONNECTED WITH THE USE OF THIS SERVICES. IN NO EVENT WILL
            THE COMPANY’S TOTAL LIABILITY ARISING OUT OF OR IN CONNECTION WITH
            THESE TERMS OR FROM THE USE OF OR INABILITY TO USE THE SERVICES
            EXCEED THE AMOUNTS YOU HAVE PAID TO THE COMPANY FOR USE OF THE
            SERIES OR ONE HUNDRED DOLLARS ($100) IF YOU HAVE NOT HAD ANY PAYMENT
            OBLIGATIONS TO THE COMPANY, AS applicable. SOME JURISDICTIONS DO NOT
            ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY, SO THE ABOVE
            LIMITATIONS MAY NOT apply TO YOU. THE COMPANY, OR ANY THIRD PARTIES
            MENTIONED ON THE SERVICES ARE NOT LIABLE FOR ANY PERSONAL INJURY,
            INCLUDING DEATH, CAUSED BY YOUR USE OR MISUSE OF THE Services.</span
          ><br /><span style="font-family: Arial"
            >The Services may contain links or connections to third party
            websites or services that are not owned or controlled by Moodmate.
            When you access third party websites or use third party services,
            you accept that there are risks in doing so, and that Alfauser is
            not responsible for such risks. We encourage you to be aware when
            you leave the Services and to read the terms and conditions and
            privacy policy of each third party website or service that you visit
            or utilize.</span
          ><br /><span style="font-family: Arial"
            >Alfauser has no control over, and assumes no responsibility for,
            the content, accuracy, privacy policies, or practices of or opinions
            expressed in any third party websites or by any third party that you
            interact with through the Services. In addition, Alfauser will not
            and cannot monitor, verify, censor or edit the content of any third
            party site or service. By using the Services, you release and hold
            us harmless from any and all liability arising from your use of any
            third party website or service.</span
          ><br /><span style="font-family: Arial"
            >Your interactions with organizations and/or individuals found on or
            through the Services are solely between you and such organizations
            and/or individuals. You should make whatever investigation you feel
            necessary or appropriate before proceeding with interaction with any
            of these third parties. You agree that Alfauser shall not be
            responsible or liable for any loss or damage of any sort incurred as
            the result of any such dealings.</span
          ><br /><span style="font-family: Arial"
            >If there is a dispute between participants on the Services, or
            between users and any third party, you agree that Alfauser is under
            no obligation to become involved. In the event that you have a
            dispute with one or more other users, you release Moodmate, its
            officers, employees, agents, and successors from claims, demands,
            and damages of every kind or nature, known or unknown, suspected or
            unsuspected, disclosed or undisclosed, arising out of or in any way
            related to such disputes and/or our Services. If you are a
            California resident, you shall and hereby do waive California Civil
            Code Section 1542, which says: “A general release does not extend to
            claims that the creditor or releasing party does not know or suspect
            to exist in his or her favor at the time of executing the release
            and that, if known by him or her, would have materially affected his
            or her settlement with the debtor or released party.”</span
          ><br /><br /><strong style="font-family: Arial"
            >15. Use of mobile devices</strong
          ><br /><br /><span style="font-family: Arial"
            >Please note that your carrier’s normal rates and fees, such as text
            messaging and data charges, will still apply if you are using the
            SERVICES on a mobile device.</span
          ><br /><br /><strong style="font-family: Arial"
            >16. Third-Party Services</strong
          ><br /><br /><span style="font-family: Arial"
            >The SERVICES may give you access to links to third-party websites,
            Services, or other products or services (“Third Party Services”).
            The Company does not control Third Party Services in any manner and,
            accordingly, does not assume any liability associated with such
            Third Party Services. You need to take appropriate steps to
            determine whether accessing a Third Party Service is appropriate,
            including protecting your personal information and privacy in using
            any such Third Party Services and complying with relevant
            agreements.</span
          ><br /><br /><span style="font-family: Arial"> </span><br /><strong
            style="font-family: Arial"
            >17. Your feedback</strong
          ><br /><br /><span style="font-family: Arial"
            >We welcome your feedback about the Services. Unless otherwise
            expressly declared, any communications you send to us or publish in
            Services stores are deemed to be submitted on a non-confidential
            basis. You agree that we may decide to publicize such contents at
            our own discretion. You agree to authorize us to make use of such
            contents for free, and revise, modify, adjust and change
            contextually, or make any other changes as we deem
            appropriate.</span
          ><br /><br /><strong style="font-family: Arial"
            >18. Enforcement rights</strong
          ><br /><br /><span style="font-family: Arial"
            >We are not obligated to monitor access or use of the Services.
            However, we reserve the right to do so for purposes of operating and
            maintaining the Services, ensuring your compliance with this
            Agreement, and complying with applicable legal requirements. We may
            disclose unlawful conduct to law enforcement authorities, and
            pursuant to valid legal process, we may cooperate with law
            enforcement authorities to prosecute users who violate the law. We
            reserve the right (but are not required) to remove or disable any
            content posted to the Services or access to Services at any time and
            without notice, and at our sole discretion if we determine in our
            sole discretion that your content or use of the Services is
            objectionable or in violation this Agreement.</span
          ><br /><span style="font-family: Arial"
            >The Company has no liability or responsibility to users of the
            Services or any other person or entity for performance or
            nonperformance of the aforementioned activities.</span
          ><br /><br /><strong style="font-family: Arial"
            >19. Changes to the Services</strong
          ><br /><br /><span style="font-family: Arial"
            >From time to time and without prior notice to you, we may change,
            expand, and improve the Services. We may also, at any time, cease to
            continue operating part or all of the Services or selectively
            disable certain features of the Services. Your use of the Services
            does not entitle you to the continued provision or availability of
            the Services. Any modification or elimination of the Services or any
            particular features will be done in our sole and absolute discretion
            and without an ongoing obligation or liability to you.</span
          ><br /><br /><strong style="font-family: Arial">20. Indemnity</strong
          ><br /><br /><span style="font-family: Arial"
            >You agree to defend, indemnify, and hold the Company, its officers,
            directors, employees, agents, licensors, and suppliers, harmless
            from and against any claims, actions or demands, liabilities and
            settlements including without limitation, reasonable legal and
            accounting fees, resulting from, or alleged to result from, your
            violation of this Agreement.</span
          ><br /><br /><strong style="font-family: Arial"
            >21. Miscellaneous</strong
          ><br /><br /><span style="font-family: Arial"
            >Any dispute arising from this Agreement shall be governed by the
            laws of the State of California without regard to its conflict of
            law provisions. SOLE AND EXCLUSIVE JURISDICTION FOR ANY ACTION OR
            PROCEEDING ARISING OUT OF OR RELATED TO THIS AGREEMENT SHALL BE IN
            AN APPROPRIATE STATE OR FEDERAL COURT LOCATED IN SAN FRANCISCO
            COUNTY, STATE OF CALIFORNIA AND THE PARTIES UNCONDITIONALLY WAIVE
            THEIR RESPECTIVE RIGHTS TO A JURY TRIAL.</span
          ><br /><span style="font-family: Arial"
            >Any cause of action you may have with respect to your use of the
            Services must be commenced within one (1) year after the claim or
            cause of action arises.</span
          ><br /><span style="font-family: Arial"
            >If for any reason a court of competent jurisdiction finds any
            provision of this Agreement, or a portion thereof, to be
            unenforceable, that provision shall be enforced to the maximum
            extent permissible so as to affect the intent of this Agreement, and
            the remainder of this Agreement shall continue in full force and
            effect. A printed version of this Agreement shall be admissible in
            judicial or administrative proceedings.</span
          ><br /><span style="font-family: Arial"
            >No waiver of by the Company of any term or condition set forth in
            this Agreement shall be deemed a further or continuing waiver of
            such term or condition or a waiver of any other term or condition,
            and any failure of the Company to assert a right or provision under
            this Agreement shall not constitute a waiver of such right or
            provision. If any provision of this Agreement is held by a court or
            other tribunal of competent jurisdiction to be invalid, illegal or
            unenforceable for any reason, such provision shall be eliminated or
            limited to the minimum extent such that the remaining provisions of
            this Agreement will continue in full force and effect.</span
          ><br /><span style="font-family: Arial"
            >Upon termination, all provisions of this Agreement, which, by their
            nature, should survive termination, shall survive termination,
            including, without limitation, ownership provisions, warranty
            disclaimers, and limitations of liability.</span
          ><br /><span style="font-family: Arial"
            >All claims between the parties related to this Agreement will be
            litigated individually, and the parties will not consolidate or seek
            class treatment for any claim unless previously agreed to in writing
            by the parties.</span
          ><br /><span style="font-family: Arial"
            >We may refuse service, close Accounts, and change eligibility
            requirements at any time.</span
          ><br /><br /><strong style="font-family: Arial"
            >22. Notice and takedown procedures</strong
          ><br /><br /><span style="font-family: Arial"
            >If you believe any materials accessible on or from the Services
            infringe your copyright, you may request removal of those materials
            (or access thereto) from this Services by contacting the Company and
            providing the following information:</span
          ><br /><span style="font-family: Arial"
            >а. Identification of the copyrighted work that you believe to be
            infringed. Please describe the work, and, where possible, include a
            copy or the location of an authorized version of the work.</span
          ><br /><span style="font-family: Arial"
            >b. Identification of the material that you believe to be infringing
            and its location. Please describe the material, and provide us with
            its URL or any other pertinent information that will allow us to
            locate the material.</span
          ><br /><span style="font-family: Arial"
            >c. Your name, address, telephone number and (if available) e-mail
            address.</span
          ><br /><span style="font-family: Arial"
            >d. A statement that you have a good faith belief that the
            complained of use of the materials is not authorized by the
            copyright owner, its agent, or the law.</span
          ><br /><span style="font-family: Arial"
            >e. A statement that the information that you have supplied is
            accurate, and indicating that “under penalty of perjury,” you are
            the copyright owner or are authorized to act on the copyright
            owner’s behalf.</span
          ><br /><span style="font-family: Arial"
            >f. A signature or the electronic equivalent from the copyright
            holder or authorized representative.</span
          ><br /><span style="font-family: Arial"
            >In an effort to protect the rights of copyright owners, the Company
            maintains a policy for the termination, in appropriate
            circumstances, of subscribers and account holders of the Services
            who are repeat infringers.</span
          ><br /><br /><strong style="font-family: Arial"
            >Questions and comments</strong
          ><br /><br /><span style="font-family: Arial"
            >If you have any comments or questions on any part of the Services
            or any part of these Terms of Use, require support, or have any
            claims, please contact us at team@alfauser.me.</span
          ><br /><br /><br />
        </div>
      </div>
    </div>
  </div>
</div>
